@tailwind base; 
@tailwind components; 

.transparent-borderless-spinneles-element {
	@apply border-none ring-0 focus:shadow-none focus:ring-0;
}
.right-column-flex-gray {
	@apply w-full bg-super-light-gray-border flex justify-between items-center py-1 bg-opacity-80;
}
.page-title {
	@apply text-brand-purple font-bold tracking-wider font-lobster;
}

.post-icon {
	@apply  w-4 h-4 sm:h-5 sm:w-5;
}

.following-unfollowing-button {
	@apply cursor-pointer text-xs xs:text-sm sm:text-base rounded-md xs:rounded-lg sm:rounded-xl outline-none px-1 py-2 xs:px-2 xs:py-1.5 sm:px-3 sm:py-2 font-semibold focus:outline-white focus:shadow-none focus:ring-0;
}

.tabs-wrapper {
	@apply flex justify-between h-14 md:h-16 border-b border-t border-super-light-gray-border;
}

.tab {
	@apply flex justify-center items-center h-14 md:h-16 pointer-events-none
}

.follow-user-row {
	@apply w-full flex px-1 py-2 xs:px-2 sm:px-4 sm:py-3 md:px-6 md:py-3 border-b border-super-light-gray-border;
}

.post-content-info__time-container {
	@apply  ml-1 cursor-default text-[10px] xs:text-xs sm:text-sm md:text-base;
}

.post-content-info__email-container {
	@apply ml-1 cursor-pointer text-xs xs:text-sm sm:text-base
}

.post-content-info__username-container {
	@apply text-xs xs:text-sm sm:text-base cursor-pointer font-bold;
}
@tailwind utilities;

@layer utilities {
	.animation-delay-2000 {
		animation-delay: 2s;
	}
	.animation-delay-4000 {
		animation-delay: 4s;
	}
	.animation-delay-1000 {
		animation-delay: 1s;
	}
}
:root {
	--animate-duration: 1s;
	--animate-delay: 1s;
	--animate-repeat: 1
}

@-webkit-keyframes swing {
	20% {
			-webkit-transform: rotate(15deg);
			transform: rotate(15deg)
	}

	40% {
			-webkit-transform: rotate(-10deg);
			transform: rotate(-10deg)
	}

	60% {
			-webkit-transform: rotate(5deg);
			transform: rotate(5deg)
	}

	80% {
			-webkit-transform: rotate(-5deg);
			transform: rotate(-5deg)
	}

	to {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg)
	}
}

@keyframes swing {
	20% {
			-webkit-transform: rotate(15deg);
			transform: rotate(15deg)
	}

	40% {
			-webkit-transform: rotate(-10deg);
			transform: rotate(-10deg)
	}

	60% {
			-webkit-transform: rotate(5deg);
			transform: rotate(5deg)
	}

	80% {
			-webkit-transform: rotate(-5deg);
			transform: rotate(-5deg)
	}

	to {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg)
	}
}

.animate__swing {
	-webkit-transform-origin: top center;
	transform-origin: top center;
	-webkit-animation-name: swing;
	animation-name: swing
}

@-webkit-keyframes heartBeat {
	0% {
			-webkit-transform: scale(1);
			transform: scale(1)
	}

	14% {
			-webkit-transform: scale(1.3);
			transform: scale(1.3)
	}

	28% {
			-webkit-transform: scale(1);
			transform: scale(1)
	}

	42% {
			-webkit-transform: scale(1.3);
			transform: scale(1.3)
	}

	70% {
			-webkit-transform: scale(1);
			transform: scale(1)
	}
}

@keyframes heartBeat {
	0% {
			-webkit-transform: scale(1);
			transform: scale(1)
	}

	14% {
			-webkit-transform: scale(1.3);
			transform: scale(1.3)
	}

	28% {
			-webkit-transform: scale(1);
			transform: scale(1)
	}

	42% {
			-webkit-transform: scale(1.3);
			transform: scale(1.3)
	}

	70% {
			-webkit-transform: scale(1);
			transform: scale(1)
	}
}

.animate__heartBeat {
	-webkit-animation-name: heartBeat;
	animation-name: heartBeat;
	-webkit-animation-duration: 1.3s;
	animation-duration: 1.3s;
	-webkit-animation-duration: calc(var(--animate-duration)*1.3);
	animation-duration: calc(var(--animate-duration)*1.3);
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out
}

.animate__animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-duration: var(--animate-duration);
	animation-duration: var(--animate-duration);
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

.animate__animated.animate__infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite
}

.animate__animated.animate__repeat-1 {
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: var(--animate-repeat);
	animation-iteration-count: var(--animate-repeat)
}

.animate__animated.animate__repeat-2 {
	-webkit-animation-iteration-count: 2;
	animation-iteration-count: 2;
	-webkit-animation-iteration-count: calc(var(--animate-repeat)*2);
	animation-iteration-count: calc(var(--animate-repeat)*2)
}

.animate__animated.animate__repeat-3 {
	-webkit-animation-iteration-count: 3;
	animation-iteration-count: 3;
	-webkit-animation-iteration-count: calc(var(--animate-repeat)*3);
	animation-iteration-count: calc(var(--animate-repeat)*3)
}

.animate__animated.animate__delay-1s {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	-webkit-animation-delay: var(--animate-delay);
	animation-delay: var(--animate-delay)
}

.animate__animated.animate__delay-2s {
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
	-webkit-animation-delay: calc(var(--animate-delay)*2);
	animation-delay: calc(var(--animate-delay)*2)
}

.animate__animated.animate__delay-3s {
	-webkit-animation-delay: 3s;
	animation-delay: 3s;
	-webkit-animation-delay: calc(var(--animate-delay)*3);
	animation-delay: calc(var(--animate-delay)*3)
}

.animate__animated.animate__delay-4s {
	-webkit-animation-delay: 4s;
	animation-delay: 4s;
	-webkit-animation-delay: calc(var(--animate-delay)*4);
	animation-delay: calc(var(--animate-delay)*4)
}

.animate__animated.animate__delay-5s {
	-webkit-animation-delay: 5s;
	animation-delay: 5s;
	-webkit-animation-delay: calc(var(--animate-delay)*5);
	animation-delay: calc(var(--animate-delay)*5)
}

.animate__animated.animate__faster {
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-duration: calc(var(--animate-duration)/2);
	animation-duration: calc(var(--animate-duration)/2)
}

.animate__animated.animate__fast {
	-webkit-animation-duration: .8s;
	animation-duration: .8s;
	-webkit-animation-duration: calc(var(--animate-duration)*0.8);
	animation-duration: calc(var(--animate-duration)*0.8)
}

.animate__animated.animate__slow {
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-duration: calc(var(--animate-duration)*2);
	animation-duration: calc(var(--animate-duration)*2)
}

.animate__animated.animate__slower {
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-duration: calc(var(--animate-duration)*3);
	animation-duration: calc(var(--animate-duration)*3)
}

@media (prefers-reduced-motion:reduce),print {
	.animate__animated {
			-webkit-animation-duration: 1ms!important;
			animation-duration: 1ms!important;
			-webkit-transition-duration: 1ms!important;
			transition-duration: 1ms!important;
			-webkit-animation-iteration-count: 1!important;
			animation-iteration-count: 1!important
	}

	.animate__animated[class*=Out] {
			opacity: 0
	}
}
.animate__animated.animate__flip {
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
	-webkit-animation-name: flip;
	animation-name: flip
}

@-webkit-keyframes bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, 0, 0) scaleX(0.9);
    transform: translate3d(-20px, 0, 0) scaleX(0.9);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0) scaleX(2);
    transform: translate3d(2000px, 0, 0) scaleX(2);
  }
}
@keyframes bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, 0, 0) scaleX(0.9);
    transform: translate3d(-20px, 0, 0) scaleX(0.9);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0) scaleX(2);
    transform: translate3d(2000px, 0, 0) scaleX(2);
  }
}
.animate__bounceOutRight {
  -webkit-animation-name: bounceOutRight;
  animation-name: bounceOutRight;
}

div.tab-container.active {
	background-color: rgba(29,161,242,0.2);
	border-color: rgba(50,106,218,1);
	border-bottom-width: 2px;
	pointer-events: none;
}
div.tab-container.active a {
	pointer-events: none;
}
div.tab-container:hover {
	border-color: rgba(50,106,218,1);
	border-bottom-width: 2px;
}
div.tab-container:hover span {
	color: rgba(50,106,218,1);
}
div.button-comment-wrapper button.comment-button:hover + span {
	color: rgb(29, 161, 242)
}
div.tab-container span {
	color: rgba(28,29,29,1);
}

div.tab-container.active span {
	color: rgba(50,106,218,1);
}

 button.white-text-onHover-button:hover span,  a.white-text-onHover-button:hover span {
	color:#fff;
}
 button.unfollow-button:hover span {
	color:#1DA1F2;
}
 button.unfollow-button:hover {
	background-color:#fff
}
 button.unfollow-button {
	color:#fff;
	border-width: 2px;
	border-color: rgba(29, 161, 242, 1);
	background-color:rgba(29, 161, 242, 1);
}

 button.follow-button:hover span,  button.edit-profile-button:hover span {
	color:#fff;
}

 button.follow-button:hover,  button.edit-profile-button:hover {
	background-color:rgba(29, 161, 242, 1);
}

 button.follow-button,  button.edit-profile-button {
	border-width: 2px;
	border-color: rgba(29, 161, 242, 1);
	background-color:#fff;
	color:rgb(29, 160, 242);
}

div.profile-picture-container:hover i.fa-camera-retro, div.profile-cover-picture:hover i.fa-camera-retro {
	display: inline-block;
}
div#inbox div.user-list-wrapper span.users span.user-username {
	background-color: rgba(29,161,242,.2);
	border-width: 2px;
	border-radius:8px;
	border-color: #326ada;
	pointer-events: none;
}

div#inbox div.group-message-image-container div.image-container:last-child {
	margin-left: 0px;
}

div#inbox div.header-chat-image-container div.image-container img {
	border:2px solid rgba(67,62,144,1);
	background-color: rgba(67,62,144,1)
}

#chat-emojis-tooltip {
	position: absolute;
	bottom:3.5rem;
	right:1.25rem;
}

#inbox > div.chat-messages-wrapper div.message-container.sent {
	justify-content: flex-end;
}
#inbox > div.chat-messages-wrapper div.message-container.sent span {
	background-color: #1da1f2;
	color: white;
	font-weight: 200;
}
#inbox > div.chat-messages-wrapper div.message-container.sent p {
	padding-right: 5px
}
#inbox > div.chat-messages-wrapper div.message-container.received span {
	/* background-color: rgb(235, 238, 240); */
	background-color: rgba(0,0,0,0.05);
	color:#1c1d1d;
	font-weight: 200;
}
#inbox > div.chat-messages-wrapper div.message-container.received {
	justify-content: flex-start;
}

#inbox > div.chat-messages-wrapper div.message-container.received p {
	padding-left: 5px
}

emoji-picker {
  --border-size: 2px;
	--button-hover-background: rgba(29, 161, 242, 0.25)
}

#modal-container div.upload-images-preview-wrapper {
	max-height: 350px;
	overflow-y: auto;
}
.upload-images-preview-wrapper img {
	height:150px;
}

.upload-images-preview-wrapper .image-wrapper button {
	right: 4px;
	top: 4px;
}

#submitPostButton[disabled] {
	background-color: rgba(29,161,242, 0.6)
}

.online-users-container {
	box-shadow: 0px 2px 15px rgba(0,0,0,0.2);
}

.slide-up {
	overflow-y: auto;
	max-height: 500px; /* approximate max height */
	height: 500px;
	/* height: fit-content;  */

	transition-property: all;
	transition-duration: .8s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-down {
	overflow-y: hidden;
	max-height: 0px; /* approximate max height */
	height: 0px; 

	transition-property: all;
	transition-duration: .8s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

#open_hamburger_overlay_btn span.line
{
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.overlay {
  overflow-x: hidden; 
  transition: 0.5s; 
}

.overlay-content {
  width: 100%; 
}

.overlay a.hamburger-menu-link {
  transition: 0.3s; 
}

.overlay a.hamburger-menu-link:hover, .overlay a.hamburger-menu-link:focus {
  color: #F5F8FA;
	background-color: rgb(67, 62, 144);
}

#video-grid video:not(.hidden):first-child {
	margin-right:0px;
}
#big-video-wrapper video {
	object-fit: cover;
	height:100%;
	width:100%;
}

@media screen and (max-width: 900px) {
  emoji-picker {
    --num-columns: 7;
    --category-emoji-size: 1rem;
		--emoji-size: 1.125rem;
		--emoji-padding: 0.35rem;
		--input-font-size:0.8rem;	
		--input-line-height:1.2;
  }

	.upload-images-preview-wrapper img {
		height:125px;
	}
}
@media screen and (max-width: 650px) {
  emoji-picker {
    --num-columns: 6;
    --category-emoji-size: 1rem;
		--emoji-size: 1rem;
		--emoji-padding: 0.2rem;
		--input-font-size:0.6rem;	
		--input-line-height:1;
  }

	.upload-images-preview-wrapper img {
		height:100px;
	}
}


@media screen and (max-width: 400px) {
	.upload-images-preview-wrapper img {
		height:80px;
	}
}