<div id="change-photo-modal" class="fixed z-10 top-0 left-0 w-full h-screen flex justify-center bg-blue-500 bg-opacity-50 transform transition-transform duration-300 hidden">
    <div class="bg-white w-[90vw] sm:w-[70vw] md:w-[60vw] lg:w-[50vh] md:h-[fit-content] max-h-[70vh] xs:max-h-[80vh] md:max-h-[85vh] rounded-2xl overflow-auto mt-12 "> 
        <!-- Modal Header -->
        {% render 'modal_header' %}

        {% render 'modal_content_change_photo', user: user %}
        
        {% render 'modal_footer_save_cancel', additionalClassesForWrapper: 'border-t border-super-light-gray-border' %}
        
  </div>
</div>

