<div class='user-list-wrapper w-full flex flex-wrap items-baseline px-4 py-2 border-b border-super-light-gray-border 
    min-h-[60px]'>
    <label class='pr-2'>To: </label>
    <span class='users'></span>
    <input type='text' class='border-0 bg-transparent transparent-borderless-spinneles-element min-w-[350px]' name='search-user' id="search-user" placeholder='Type the name of the person'/>
</div>

<div class='content-wrapper'>

</div>

  <div class='w-full flex items-center justify-center'>
  <button id="createChatButton" type="button" class="flex justify-center py-2 px-4 border border-transparent bg-opacity-50 rounded-3xl shadow-sm text-sm font-medium text-white bg-brand-purple hover:-translate-y-0.5 transform hover:text-white focus:outline-none cursor-auto focus:ring-2 focus:ring-offset-2 focus:ring-brand-purple mt-8 md:text-lg sm:text-lg xs:text-lg" disabled="">
    Create chat
  </button>
</div>