<div class='post-form-container w-full flex flex-shrink px-2 md:px-5 border-b-[6px] md:border-b-8 py-2 border-super-light-gray-border relative'>
  {% render 'small_profile_image_rounded', user: user %}

  <div class='textarea-container flex flex-1 mb-2'>
    <div class='px-2 md:px-5 w-full'>
      <textarea name="post" id="post" class='transparent-borderless-spinneles-element resize-none w-full text-xs xs:text-sm sm:text-base md:text-lg'
        placeholder="What's happening?"></textarea>
      
      {% render 'upload-images-preview' %}
      
      <div class='w-full flex justify-between items-center pt-1'>
        <div class='w-1/3  flex justify-start'>
          {% comment %} <button class='ml-1 px-3 hover:bg-comment-button-blue-background rounded-full' id='emoji-button'>😀</button> {% endcomment %}
          <button class='p-2 md:p-3 hover:bg-comment-button-blue-background rounded-full transparent-borderless-spinneles-element' id='add-post-image-button'>
            <svg viewBox="0 0 24 24" aria-hidden="true" class="inline-block fill-current text-comment-button-blue w-5 md:w-6">
              <g>
                <path d="M19.75 2H4.25C3.01 2 2 3.01 2 4.25v15.5C2 20.99 3.01 22 4.25 22h15.5c1.24 0 2.25-1.01 2.25-2.25V4.25C22 3.01 20.99 2 19.75 2zM4.25 3.5h15.5c.413 0 .75.337.75.75v9.676l-3.858-3.858c-.14-.14-.33-.22-.53-.22h-.003c-.2 0-.393.08-.532.224l-4.317 4.384-1.813-1.806c-.14-.14-.33-.22-.53-.22-.193-.03-.395.08-.535.227L3.5 17.642V4.25c0-.413.337-.75.75-.75zm-.744 16.28l5.418-5.534 6.282 6.254H4.25c-.402 0-.727-.322-.744-.72zm16.244.72h-2.42l-5.007-4.987 3.792-3.85 4.385 4.384v3.703c0 .413-.337.75-.75.75z"></path>
                <circle cx="8.868" cy="8.309" r="1.542"></circle>
              </g>
            </svg>
          </button>
          <button class='p-2 md:p-3 hover:bg-comment-button-blue-background rounded-full transparent-borderless-spinneles-element' id='emoji-button'>
            <svg viewBox="0 0 24 24" aria-hidden="true" class="inline-block fill-current text-comment-button-blue w-5 md:w-6">
              <g>
                <path d="M12 22.75C6.072 22.75 1.25 17.928 1.25 12S6.072 1.25 12 1.25 22.75 6.072 22.75 12 17.928 22.75 12 22.75zm0-20C6.9 2.75 2.75 6.9 2.75 12S6.9 21.25 12 21.25s9.25-4.15 9.25-9.25S17.1 2.75 12 2.75z"></path>
                <path d="M12 17.115c-1.892 0-3.633-.95-4.656-2.544-.224-.348-.123-.81.226-1.035.348-.226.812-.124 1.036.226.747 1.162 2.016 1.855 3.395 1.855s2.648-.693 3.396-1.854c.224-.35.688-.45 1.036-.225.35.224.45.688.226 1.036-1.025 1.594-2.766 2.545-4.658 2.545z"></path>
                <circle cx="14.738" cy="9.458" r="1.478"></circle>
                <circle cx="9.262" cy="9.458" r="1.478"></circle>
              </g>
            </svg>
          </button>
        </div>

        <div class='w-1/3 flex justify-end'>
          <button id="submitPostButton" type='button'
            class='flex justify-center py-1 md:py-2 px-3 md:px-4 text-sm sm:text-base lg:text-lg border border-transparent bg-opacity-100 rounded-3xl shadow-sm font-medium text-white bg-comment-button-blue focus:outline-none cursor-auto focus:ring-2 focus:ring-offset-2 focus:ring-comment-button-blue'
            disabled>
            <span class='post-button__label'>Post</span>
            <i class="post-button__spinner post-button--hidden hidden fas fa-spinner fa-pulse"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <input type='file' accept="image/*" id='post-images-for-upload' class='hidden' multiple />
</div>