<div class="w-full text-center relative z-10">
  {% comment %} <img class="w-7/12 mb-10 inline text-center md:w-9/12 sm:w-9/12 xs:w-full" src="assets/we_groove_logo.png" alt="WeGroove Logo" /> {% endcomment %}
  <h1
    class="text-4xl xs:text-5xl lg:text-4xl text-bold text-center text-brand-purple font-roboto space-x-6">
    {{title}}
  </h1>
  <p class='text-center text-base xs:text-xl lg:text-base mt-6'>
    {{text}}
    <a class="text-brand-blue" href="{{href}}">{{linkText}}</a>
  </p>
</div>