<div class='photo-icons-wrapper flex justify-end w-full pr-8 pb-4 {{additionalClassesForWrapper}}'>
  <div class='photo-button-wrapper mt-4 mr-2'>
      <button class='bg-opacity-50 cursor-pointer cancel-modal-button py-2 px-3 text-sm sm:text-base lg:text-lg font-semibold rounded-xl bg-white text-comment-button-blue outline-none border-2 border-comment-button-blue'>
          <span class='modal-cancel-button__label pointer-events-none'>Cancel</span>
      </button>
      <button class='cursor-pointer save-modal-button font-semibold rounded-xl bg-comment-button-blue text-white outline-none px-3 py-2 border-2 border-comment-button-blue text-sm sm:text-base lg:text-lg'>
          <span class='modal-save-button__label pointer-events-none'>Save</span>
          <i class="modal-save-button__spinner hidden pointer-events-none fas fa-spinner fa-pulse"></i>
      </button>
  </div>
</div>