<div class='inbox-modal-content px-3 sm:px-6 mt-4 sm:mt-6 md:mt-8 mb-2'>
  {% render 'login_form_input', additionalInputClasses: "text-sm sm:text-base md:text-lg", type: 'text', inputName: 'chat-name', inputId: 'chat-name', required: true, placeholder: 'Enter new chat name here...' %}
</div>