<div class="w-full">
  <div class='flex border-b border-super-light-gray-border px-3 py-3'>
    <h1 class="page-title w-10/12 text-2xl sm:text-3xl"> {{title}}</h1>
    <div class='w-2/12 flex justify-end items-center md:hidden'>
      {% render 'hamburger_menu' user: user %}
    </div>
  </div>

  {% render 'main_post', post: post, repliesNum: repliesForPost.size, user: user %}
  {% render 'post_replies', replies: repliesForPost, user: user %}
</div>