<div class='posts w-full' id='posts'>
  {% for post in posts %}
    {% if post.retweetData %}
      {% render 're_post', post: post, user: user %}
    {% elsif post.replyTo %}
      {% render 'replied_to_post', post: post, user: user %}
    {% else %}
      {% render 'post', post: post, user: user %}
    {% endif %}
  {% endfor %}
  
</div>