<a href='/topic/{{hashtag._id}}'>  
  <div class='topic-container w-full px-5 py-2 border-t border-light-gray-for-text border-opacity-20 hover:bg-light-gray-for-text hover:bg-opacity-20'>
      <div class='hashtag-container'>
        <h4 class='font-medium text-lg text-dark-gray-for-text'>{{hashtag.hashtag}}</h4>
      </div>
      <div class='posts-number-container'>
        <p class='text-mid-gray-for-text font-light text-base'>{{hashtag.postsLength}} Posts</p>
      </div>
  </div>
</a>