<div class="image-container w-10 h-10 sm:w-12 sm:h-12 md:w-14 md:h-14 {{additionalClasses}}">
  <img class='w-10 sm:w-12 md:w-14 rounded-full bg-white' src="{{user.profilePic}}" alt="{{user.username}}" title={{user.username}} />
  {% comment %} h-14  {% endcomment %}
</div>