<div id='waiting_call_modal' class='fixed hidden left-0 top-0 bottom-0 right-0 z-50 flex flex-wrap justify-center items-center bg-gray-800 bg-opacity-95'>
  <h2 class='text-center text-white text-3xl w-full'>Calling...</h2>
</div>